<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bcpk.docket" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bcpk.docket.MainActivity" />
        </activity>
        <!--<activity-->
            <!--android:name=".activity_resources"-->
            <!--android:label="@string/title_activity_activity_resources" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".BlankActivity"-->
            <!--android:label="@string/title_activity_blank" >-->
        <!--</activity>-->
        <activity
            android:name=".ResourcesActivity"
            android:label="@string/title_activity_resources" >
        </activity>
        <activity
            android:name=".SingleResource"
            android:label="@string/title_activity_single_resource" >
        </activity>
        <activity
            android:name=".TipsTabFragment2"
            android:label="@string/title_activity_tips_tab_fragment" >
        </activity>
        <activity
            android:name=".WebViewClass"
            android:label="@string/title_activity_web_view" >
        </activity>
    </application>

</manifest>
